.woo-test-work-wrapper .container{
    padding: 0px 15px;
}
.woo-test-work-wrapper .container h1{
    margin: 35px 0px;
}
form.woo_tw_settings_form{
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}
form.woo_tw_settings_form h2{
    margin: 0px 0px 15px 0px;
}
form.woo_tw_settings_form .settings_box_list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

form.woo_tw_settings_form .settings_box_list .settings_box_item{
    width: 33.33%;
    padding-right: 15px;
}

form.woo_tw_settings_form .settings_box_list .settings_box_item:last-child{
    padding-right: 0px;
}

form.woo_tw_settings_form .settings_box_list .settings_box_item select,
form.woo_tw_settings_form .settings_box_list .settings_box_item input{
    width: 100%;
    max-width: 100%;
}
form.woo_tw_settings_form p.submit{
    margin: 15px 0px 0px 0px;
    padding: 0px;
}