.woocommerce-cart-form .free_product_line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 0px;
}
.woocommerce-cart-form .free_product_line div{
    width: 25%;
}
.woocommerce-cart-form .free_product_line div:nth-child(2){
    width: 50%;
}